/* Add space between the buttons and from the form */
.buttons-container {
  margin-top: 30px;
}


/* Scoped Button Styles */
.sleep-history-button,
.set-sleep-goals-button,
.sleep-tips-button {
  width: 150px;
  height: 100px;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 10px;
  margin-left: 10px;
}

.sleep-history-button:hover,
.set-sleep-goals-button:hover,
.sleep-tips-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.sleep-history-button {
  background-color: #dcd3f3;
  color: #6c5ce7;
}

.set-sleep-goals-button {
  background-color: #fde2c9;
  color: #f39c12;
}

.sleep-tips-button {
  background-color: #d8e9fc;
  color: #3498db;
}
