/* App.module.css */
.app {
  text-align: center;
}

.appHeader {
  background-color: rgba(241, 248, 247, 0.6); /* 60% opacity */
  padding: 5px 30px 5px 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}

.hamburger {
  height: 18px;
  cursor: pointer;

}

.appNav {
  display: flex;
  gap: 20px;
}

.appLink {
  color: rgb(12, 10, 10);
  text-decoration: none;
  font-size: 1.2em;
}

.appLink:hover {
  text-decoration: underline;
}

.main {
  padding: 20px;
  background-color: rgba(241, 248, 247, 0.6); /* 60% opacity */
  height: 100vh;
}

.footer {
  padding: 10px;
  background-color: rgba(241, 248, 247, 0.6); /* 60% opacity */
  color: rgb(14, 12, 12);
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.goBackButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: rgb(12, 10, 10);
  text-decoration: none;
  font-size: 1.2em;
  font-family: 'Comfortaa', cursive;
}
